.flexCenter {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.baseBgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.btn {
  width: 100%;
  border-radius: 5px;
  background-color: orange;
  color: white;
  cursor: pointer;
  padding: 5px 0px;
}

img {
  object-fit: contain;
  width: 100%;
}
